.faqs
{
    color: black;
    text-align: left;
    overflow: auto;
    padding-left:100px;
}
.mt-2
{
    text-align: justify;
    align-content: center;
    overflow: hidden;
    color: black;
}

  button {
    background-color: #008CBA;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 500px;
    float: center;
  }

  button:hover {
    opacity: 0.8;
  }

  .btn{
    color: white;width:250px;font-size: 20px;text-align: center;
  }
  