<div style="overflow: auto;" class="faqs"><br>
        <div class= "container">
            <h1 style="text-align: center;">Frequently Asked Questions</h1>
            <div class="row"> 
                <div class="box">
                    <h4>1. Covid-19 vaccines are safe considering the time constraint within which they were developed...</h4>
                    <p class="mt-2">Clinical Trials were performed all over by the scientists to take into consideration all the side effects that these vaccines might cause. Although the different phases of testing were performed concurrently, but the tests were completed.
                        <br>Authentications, Authorizations and Approvals : Before the vaccines were provided to the general public, they were approved by the authorized institutions and certificates of authorization, stating that they are completely safe to be consumed, were provided.
                        <br>Monitoring Safe Usage of Vaccine Doses : The after effects of vaccines are being monitored even after being released for consumption for general public.
                    </p>
        
                    <h4>2. Covid-19 vaccines consists of...</h4>
                    <p class="mt-2">The ingredients of the vaccines varies depending upon the companies manufacturing them. Vaccines are free from metals, viruses, preservatives, latex.</p>
        
                    <h4>3. Children should be vaccinated at the age of...</h4>
                    <p class="mt-2">Vaccines for children have been discovered but there is a constraint on the age. Children with  5 years and older can vaccinated, which can help them protection against virus. Also, as per the observations, Covid-19 is mild in children. Although children with underlying health conditions might face severe illness when they come in contact with the virus.
                    </p>
        
                    <h4>4. Vaccine is required for work purposes...</h4>
                    <p class="mt-2">Most employers, are now demanding proof of vaccination to ensure the work places are safe for all the employees. Also, since work places has a large number of employees sharing spaces, it has been made mandatory to provide vaccination certificates by all employers.
                    </p>                            
                </div>
            </div>
            <div style="text-align: center;">
                <button class="btn" style="margin: 5px;" routerLink="/faq" >Go to Next Page</button>
                <button class="btn" routerLink="/userhome" >Go to Home Page</button>
            </div>
        </div>
    
</div>
