<div><br>
    <h1 style="color:whitesmoke;text-align:center;font-size: 25px;padding-right: 40px;">Hi Admin!</h1>
    <h3 style="color:whitesmoke;text-align:center;font-size: 25px;padding-right: 40px;">Welcome to home page!!</h3>
    
    <div style="text-align: center;padding-left: 300px;padding-top: 50px;">
      <mat-grid-list cols="3" rowHeight="100px" >
      <mat-grid-tile routerLink="/admin">Update Inventory</mat-grid-tile>
      <mat-grid-tile routerLink="/faqadmin">Update FAQs</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>